.GoToTopButton {
  color: #fff;
  position: fixed;
  bottom: 48px;
  right: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  border: 1px solid transparent;
  background-color: #e35640;
  cursor: pointer;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.GoToTopButton:hover {
  color: #e35640;
  background-color: transparent;
  border: 1px solid #e35640;
}
