@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Josefin Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.TextLinksNavbarHome {
  transition: color 0.2s ease-out;
  font-family: "EB Garamond", serif;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  font-style: italic;
  text-transform: lowercase;
}
.HoverTextNavbarHome {
  color: #000;
}
.HoverTextNavbarHome:hover {
  color: #e35640;
}
.HeroSectionImagesHomepage {
  object-fit: cover;
  width: 370px;
  position: relative;
  height: 249px;
}
.ImagesCategoriesFoodHomePage {
  object-fit: cover;
  width: 165px;
  position: relative;
  height: 195px;
}

.Image1AboutusPage {
  object-fit: cover;
  width: 456px;
  position: relative;
  height: 610px;
}
.ImagesBlogsPage {
  object-fit: cover;
  position: relative;
  height: 594px;
}
.QuestionFaqSection {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.AnswerContentFaqSection {
  border-inline-start: 2px solid rgba(12, 17, 26, 1);
  margin-inline-start: 37px;
  padding-inline-start: 14px;
  margin-bottom: 1rem;
}
.AnswerTypoFaqSection {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(92, 92, 92, 1);
}

.HeadingCategoriesFood {
  font-size: 20px;
  line-height: 1.25rem;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
}

.HeadingTypoMainBlogPage {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 52px;
  line-height: 1.19em;
  margin: 25px 0;
}

.HeadingTypoRecipesHome {
  font-family: "Dancing Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #e35640;
}

.HeadTextRecipesDetail {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #e35640;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.ParaTextRecipesDetail {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 25px;
  line-height: 1.08em;
}
.HeadNameRecipesDetail {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  line-height: 1.6em;
  letter-spacing: 0.3em;
  color: #e35640;
  text-transform: uppercase;
  font-weight: 600;
}
.ParaContentRecipesDetail {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 38px;
}
.DescriptionTextRecipesDetail {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  color: #595959;
}
.ButtonBlogPage {
  color: #fff;
  position: relative;
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  padding: 10px 49px 8px;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: #e35640;
}
.ButtonBlogPage:hover {
  color: #e35640;
  background-color: transparent;
  border: 1px solid #e35640;
}
