.HeadingTypoRecipesHome {
  font-family: "Dancing Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #e35640;
}

.HeadTextRecipesDetail {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #e35640;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.ParaTextRecipesDetail {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 25px;
  line-height: 1.08em;
}
