.HeadingTypoNavbarHome {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 500;
  color: #505050;
  padding-top: 2px;
}

.navbarcontainer {
  position: relative;
  top: 0;
  background-color: #ffffff;
  align-items: center;
  z-index: 100;
}

.navbartogglerbtn:focus {
  box-shadow: none !important;
}

.navbartogglerbtn {
  border: none;
  background: transparent;
  background-image: url("/assets/menu.svg");
  background-size: cover;
  width: 54px;
  height: 54px;
}

.navbartogglerbtnExpanded {
  background-image: url("/assets/closeicon.svg");
}

.navlinks {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  border: none;
  transition: color 250ms ease-in-out;
}

.navlinks.selected {
  color: #e35640;
}

.navlinks:hover {
  color: #e35640;
}

.navbar_logo {
  position: relative;
  width: 216px;
  height: 51px;
  cursor: pointer;
}
.TextNavbarCartHome {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #505050;
  text-transform: uppercase;
}
.TextDropdownCart {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  color: #595959;
  background-color: #ffffff;
  border: 1px solid #757575;
}

@media (max-width: 767px) {
  .navbar_logo {
    position: relative;
    width: 182px;
    height: 35px;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .navbarcontainer {
    padding-block: 6px;
  }
}
