.navbarcontainer {
  position: relative;
  top: 0;
  background-color: #ffffff;
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  z-index: 100;
}

.navbartogglerbtn:focus {
  box-shadow: none !important;
}

.navbartogglerbtn {
  border: none;
  background: transparent;
  background-image: url("/assets/menu.svg");
  background-size: cover;
  width: 54px;
  height: 54px;
}

.navbartogglerbtnExpanded {
  background-image: url("/assets/closeicon.svg");
}

.navlinks {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  border: none;
  transition: color 250ms ease-in-out;
}

.navlinks.selected {
  color: #e35640;
}

.navlinks:hover {
  color: #e35640;
}

.navbar_logo {
  position: relative;
  width: 127px;
  height: 56px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropdownContainer {
    z-index: 9999 !important;
    position: relative;
    padding: 7px;
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .navbar_logo {
    position: relative;
    width: 182px;
    height: 35px;
    cursor: pointer;
  }

  .dropdownContainer {
    padding: 10px 20px;
    z-index: 9999 !important;
    position: relative;
    height: auto;
  }
}

@media (max-width: 576px) {
  .navbarcontainer {
    padding-block: 6px;
  }
}
