.SidebarProfilePic {
  position: relative;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.HeadingTypoSidebarProfile {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 25px;
  line-height: 1.08em;
  text-align: center;
  max-width: 280px;
}
.ParaSidebarProfile {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  color: #595959;
  text-align: center !important;
}
.TextLinksSidebarProfile {
  transition: color 0.2s ease-out;
  font-family: "EB Garamond", serif;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  font-style: italic;
  text-transform: lowercase;
}

.HoverTextLinkSidebar {
  text-decoration: none;
  color: #000;
}
.HoverTextLinkSidebar:hover {
  color: #e35640;
}

.HeadingWorkImageSection {
  font-family: "Dancing Script", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #e35640;
}

.HeadingLatestRecipes {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 25px;
  line-height: 1.08em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-wrap: nowrap;
  gap: 8px;
}
.HeadingLatestRecipes::after {
  content: "";
  height: 1px;
  width: 100%;
  top: 18px;
  left: 0;
  background-color: #dfdfdf;
  display: inline-block;
}
.LatestRecipesImage {
  width: 130px;
  height: 147px;
  position: relative;
  object-fit: cover;
}
.HeadingBlogLatestRecipes {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.ParaDateBlogLatestRecipes {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  color: #595959;
}
.ImageCategoriesSidebar {
  width: 66px;
  height: 58px;
  position: relative;
  object-fit: cover;
}
.TextCategoriesSidebar {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #e35640;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.HeadingSubscribeSidebar {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: #000;
  font-size: 20px;
  line-height: 1.08em;
}
